@media (min-width : 1024px) {
     .header__menu-mobile{
        display: none;
     }
  
}

/*Table*/

@media (min-width : 740px) and (max-width : 1024px) {
    
}

/*Mobile*/ 

@media (max-width : 740px) {
    #header{
        padding: 15px 0;
    }
   .header__menu{
        position: relative;
        right: 315px;
        display: none;
        
   }
   .header__menu-top{
        display: none;
   }
   .header__bottom-list{
        display: block;
        position: absolute;
        left: -100px;
        background-color: black;
        
   }
   .open{
     display: block;
   }
   .header__bottom-item{
        width: 442px;
        margin: 20px 20px;
   }
   .header__bottom-item a{
        color: white;
        
   }
   .header__bottom-item::after{
    display: none;
   }
   .header__logo{
    margin-left: 50%;
    transform: translateX(-50%);
   }
   .header__menu-mobile i{
    font-size: 3rem;
    margin-right: 10px;
   }
   .header__menu-close{
     display: none;
   }
   .header__menu-close i{
      font-size: 3rem;
      margin-right: 10px;   
   }
   #container{
    margin-top: 76px;
    max-height: 100%;
    height: 400px;
   }
   #footer{
    padding: 0 10px;
    z-index: 999;
   }
   .footer__connect-list{
    justify-content: center;
    padding-left: 0;
   }
   .footer__container {
    margin-left: 0;
    text-align: center;
    padding: 0 40px;
   }
   .footer__connect-title{
    font-size: 1.2rem;
    text-align: center;
    margin-left: 0;
   }
   .footer__information-contact{
    display: block;
   }
   .footer__information-list{
    display: none;
   }
   .footer__information-contact{
    display: none;
   }
   .footer__connect{
    padding-bottom: 0;
   }
   .footer__copyRight {
    font-size: 1.3rem;
   }

   #container__product{
     background-image: none;
     height: 0;
     margin-top: 0;
     height: 615vh;
   }
   .product__overlay{
     width: 450px;
     padding-left: 40px;
     padding-right: 20px;
   }
   .product__content-item button{
     margin-top: 13px;

   }
   .product__content-item button{
     z-index: 9999;
   }
   .product__content-item button i{
     display: none;
   }
    #container__myApp{
     height: 450vh;
    }
   .myApp__information{
      display: block;
      padding-top: 10px;
   }
   .myApp__sank-img{
     width: 392px;
   }
   .myApp__logo-floating{
     
   }
   .myApp__floating-img{
     position: absolute;
     top: -32px;
     left: 104px;
   }
   .myApp__floating-title{
     font-size: 3rem;
     margin-left: 0;
   }
   .myApp__information-text{
     width: 100%;
    
   }
   .myApp__information-phone{
      margin: 30px auto;
      
      
   }
   .myApp__information-btn i{
      display: none;
   }
   .myApp__help-list{
     display: block;
   }
   .myApp__help-item{
     margin-top: 150px;
   }
   .myApp__qr-app img{
     width: 150px;
     height: 50px;
   }
   #container__technology{
     height: 280vh;
   }
   .technology__other-list{
     padding-left: 0;
   }
   .technology__other-item {
     display: block;
     height: 100%;
     padding-bottom: 20px;
   }
   .technology__other-information{
     width: 100%;
   }
   .technology__other-text{
     padding: 0 10px;
   }
   .technology__other-name{
     padding-top: 10px;
     padding-left: 10px;
     padding-right: 10px;
     padding-bottom: 10px;
     width: 100%;
     text-align: center;
   }
   .technology__other-name::before{
     width: 100%;
     left: 0;
     transform: skewX(0);
   }
   .technology__other-btn{
      margin-right: 110px;
   }
   .service__endow-item{
     list-style: none;
 }
  .service__endow{
     margin-top: -395px;
  }
  #container__service{
     background-image: none;
     height: 160vh;
  }
  .product__overlay {
     padding-right: 32px;
  }
   
}